<h3> Contact Us</h3>
<div class="row">
  <div class="col-sm-4">
    <address>
      <strong> PH Restaurant</strong> <br>
      Vincom Center <br>
      72 Lê Thánh Tôn, Bến Nghé, Quận 1, Hồ Chí Minh <br>
      VietNam <br>
      Tel: (0)123456789
    </address>
  </div>
  <div class="col-sm-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15677.725796943085!2d106.7015604!3d10.77823!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6bbcaeb33e29c9f2!2zVmluY29tIENlbnRlciDEkOG7k25nIEto4bufaQ!5e0!3m2!1sen!2s!4v1497399482904" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
